


/* p:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: -.15em;
    margin-right: .1em;
} */


/* p.drop-cap:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: -.15em;
    margin-right: .1em;
} */
